[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
setuptools = "*"
parquet = "*"
fastparquet = "*"
google-cloud-storage = "*"
dotenv = "*"
pyyaml = "*"
seaborn = "*"
matplotlib = "*"
wordcloud = "*"
torch = "*"
tensorflow = "*"
mlops-p2 = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.9"
